<div class="albums">
  {% for album in site.data.spotify.albums %}
  <div class="album">
    <a href="{{ album.link }}" target="_blank" rel="noopener">
      <div class="imgBox">
        <img src="{{ album.image }}" alt="Art for {{ album.title }}">
      </div>
      <span class="screen-reader-text">{{ album.title }}</span>
      <div class="content" style="background-color: {{ album.color }};">
        <div>
          <h4>{{ album.title }}</h4>
          <span>{{ album.artist }}</span>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>