.tree { // this holds all the page content
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: 100%;
  z-index: 1;

  .tree-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem 0;
    text-align: center;

    .tree-pfp {
      aspect-ratio: 1/1;
      width: 10rem;
      align-self: center;

      img {
        border-radius: 1.5em;
        width: 100%;
      }
    }

    .tree-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .tree-subtitle {
      color: #666;
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .tree-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.5rem;
    padding: 1rem 0;
    text-align: center;

    // add .tree-bar which is a bar link with an icon on the left and centered text
    .tree-bar {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      text-align: center;

      border: 3px solid #B3B377;
      border-radius: 16px;
      width: 75%;

      p {
        margin: 0;
      }

      text-decoration: none;
    }

    .tree-bar:hover {
      background-color: #B3B377;
      transition: background-color 0.5s ease;
    }

    // add .tree-circles which is a flex div that holds many .tree-circle
    .tree-circles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      text-align: center;

      .tree-circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0.5rem;
        padding: 0.5rem;
        text-align: center;

        border: 3px solid #B3B377;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 1.5rem;
          margin: 0;
          padding: 0;

          text-decoration: none;
        }
        
      }

      .tree-circle:hover {
        background-color: #B3B377;
        transition: background-color 0.5s ease;

        a {
          color: #fff;
          transition: color 0.5s ease;
        }
      }
    }
  }
}