---
layout: default_stripped
---

<main class="tree fadeInDown delay_075s">
  <header class="tree-header">
    {% if page.profile_image and page.profile_image != "" %}
    <figure class="tree-pfp">
      <img src="{{ page.profile_image | relative_url }}" alt="{{ page.title }}">
    </figure>
    {% endif %}
    <h1 class="tree-title"><a href="/">{{page.title}}</a></h1>
    {% if page.subtitle and page.subtitle != "" %}
    <h4 class="tree-subtitle">{{page.subtitle}}</h4>
    {% endif %}
  </header><!-- .tree-header -->
  <div class="tree-content">
    {% for bar in page.social_bars %}
    <a href="{{bar.link}}" class="tree-bar" target="_blank" rel="noopener noreferrer">
      <!-- <i class="{{ bar.icon }}" aria-hidden="true"></i> -->
      <p class="tree-bar-title">{{bar.name}}</p>
      <span class="tree-bar-text">{{link.title}}</span>
    </a>
    {% endfor %}

    <div class="tree-circles">
      {% for circle in page.social_circles %}
      <div class="tree-circle">
        <a href="{{circle.link}}" class="tree-circle-link" target="_blank" rel="noopener noreferrer">
          <i class="{{ circle.icon }}" aria-hidden="true"></i>
        </a>
      </div>
      {% endfor %}
    </div>
  </div><!-- .tree-content -->
</main><!-- .site-main -->